<!DOCTYPE html>
<html>
<head>
    <title>Needleman-Wunsch Alignment</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">

        <h1>Needleman-Wunsch Sequence Alignment</h1>

        <textarea id="seq1"
            placeholder="Enter Sequence 1"></textarea>

        <textarea id="seq2"
            placeholder="Enter Sequence 2"></textarea>

        <button onclick="alignSequences()">
            Align Sequences
        </button>

        <div id="results"></div>

    </div>

    <script src="/static/script.js"></script>

</body>
</html>
